
.widget-gamelist
{
    padding : .3em;
    width : 30%;
}

.widget-gamelist .ui-widget-header
{
    padding : .5em;
}

.widget-gamelist .game-div
{
    border: 1px solid transparent;
    padding : .3em;

}

.widget-gamelist .ui-state-hover
{
    border: 1px solid #0B93D5;
}

.widget-gamelist .game-div > a
{
    display : none;
}


