/* 
    Document   : gamepanel
    Created on : Jun 30, 2012, 4:41:41 PM
    Author     : Zac
    Description:
        Purpose of the stylesheet follows.
*/

.GamePanelWidget
{
    position : relative;
    height : 100%;
}

.GamePanelWidget .gamepanel-bg
{
    position : absolute;
    margin : 0px 0px 0px 0px;
    z-index: 0;
    border-right-width: 0px;
}

.GamePanelWidget .panels-top
{
    position: absolute;
    width : 100%;
    z-index: 1;
    overflow : hidden;
}

.GamePanelWidget .panels-bottom .ui-widget-content,
.GamePanelWidget .panels-top .ui-widget-content
{
    background : transparent;
    border-color: transparent;
}

.GamePanelWidget .panels-bottom
{
    
    position: absolute;
    bottom:0;
    height:20%;
    width:100%;
}

.GamePanelWidget .panels-top .ui-widget-content
{
    
}

.GamePanelWidget .widget-portlet .ui-widget-header
{
    border-right-width: 0px;
}

.GamePanelWidget .widget-portlet .ui-widget-content
{
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;

}

.mouseover-control > div,
.mouseover-control > div > .widget-portlet

{
    height : 100%;
}