/* 
    Document   : canvasgame
    Created on : Jun 5, 2012, 1:34:46 AM
    Author     : Zac
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.current-player-name
{
    display : inline;
}

.single-column-content
{
    width : 1400px;
}

/*#context-panel
{
    height : 382px;
    width : 382px;
    border : 1px solid green;
    background : #555555;
}*/

.left-console-display
{
    overflow-x : hidden;
    white-space : pre;
    overflow-y: auto;
    height : 618px;
    vertical-align: top;
    margin : 0;
}

#map-container
{
    width : 1382px;
    height : 618px;
    margin-left : auto;
    margin-right:auto;
}

#map-canvas
{
    background-color : black;
}

.game-info-div
{
        padding : 5px;        
}

.unit-list-div
{
    margin-bottom: 1px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border : 1px solid black;
}
.unit-list-div > div
{
}

.unit-list > div
{
    margin-bottom: .5em;
    padding: .5em;
    border : 3px solid red;
}

.left-game-panel
{
    float : left;
    width : 382px;
    height : 618px;
    overflow-y: hidden;
}


