/* 
    Document   : game
    Created on : May 31, 2012, 12:10:33 AM
    Author     : Zac
    Description:
        Purpose of the stylesheet follows.
*/

.game-map 
{
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-spacing : 0px;
}
.game-map tbody tr td
{
    padding : 0px;
    margin : 0px;
    width : 20px;
    height : 40px;
    position: relative;
}

.cell
{
    position : absolute;
    width : 50px;
    height : 40px;
    background-image: url('../images/emptycell.png');
}

#map-container
{
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    position : relative;    
}

.cell-highlight
{
    position : relative;
    left : 0;
    top : 0;
    width : 50px;
    height : 40px;
    background-image: url('../images/highlightcell.png');
    opacity: .5;
}

.bright-cell
{
    opacity : .5;
}

.unit
{
    position : absolute;
    width : 20px;
    height: 20px;
    left : 15px;
    top : 10px;
}

.current-player-name
{
    display : inline;
}