/* 
    Document   : index.css
    Created on : Jun 1, 2012, 6:42:22 PM
    Author     : Zac
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.centered-form
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width : 70%;    
    background-color : #999999;
    padding : 5px 5px 5px 5px;
}

#field-list div
{
    margin-bottom: .3em;
}

.field-label
{
    height: 2em;
    width : 30%;
    text-align : right;
    float:left;
    margin-right : .5em;
    background-color : #BBBBBB;
}

.field-value
{
    height: 2em;
    width : 15%;
    float:left;
    clear:right;
}
