/* 
    Document   : tooltip
    Created on : Jun 8, 2012, 6:30:07 PM
    Author     : Zac
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


#tooltip-control
{
    position : absolute;
    left : 0;
    top : 0;
    padding : .1em;
    
    -moz-box-shadow: 0px 1px 10px #000;
    -webkit-box-shadow: 0px 1px 10px #000;
    box-shadow: 0px 1px 10px #000;
}

#tooltip-control > div
{
    float : left;
    clear : both;
    width : 150px;
    margin : 2px 3px;
}


#tooltip-control
{
    clear:both;
}

